<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Voting Machine</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            sign up
          </a>
        <ul class="dropdown-menu">
            <%= link_to "Voter sign_ up", new_voter_registration_path , class:"dropdown-item"  %>
            <li><hr class="dropdown-divider"></li>
             <%= link_to "Group sign_ up", new_group_registration_path , class:"dropdown-item"  %>

          </ul>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            sign in
          </a>
          <ul class="dropdown-menu">
            <%= link_to "Voter sign_ in", new_voter_session_path , class:"dropdown-item"  %>
            <li><hr class="dropdown-divider"></li>
            <%= link_to "Group sign_ in", new_group_session_path , class:"dropdown-item"  %>

          </ul>
        </li>
        </li>
      </ul>
    </div>
  </div>
</nav>